# Buildout Configuration File for dumppickedversions a buildout extension 
[buildout]

extends = 00-varibles.cfg

# This extension will dump a list of unpinned versions
# each time you run buildout.
# For options see http://pypi.python.org/pypi/buildout.dumppickedversions
extensions += 
    buildout.dumppickedversions 

dump-picked-versions-file = dumped-versions.cfg
overwrite-picked-versions-file = True

